.reset-list {
  list-style: none;
}

.stock-list-page{
  background-color: #f0f4f7;
  width: 1300px;
  height: 819px;
}

h1 {
  color: #41bf15;
  width: 166px;
  height: 53px;
  font-size: 39px;
  font-weight: bold
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 1px;

}

.menu {
  display: flex;
  align-items: flex-start;
}
