html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.reset-list {
  list-style: none;
}
html{
  height: 100%;
}
body{
  background-color: #f0f4f7;
  padding: 56px 42px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
.stock-list-page {
  background-color: white;
  flex:1;
}

h1 {
  color: #41bf15;
  width: 166px;
  height: 53px;
  font-size: 39px;
  font-weight: bold
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 1px;
  border-bottom: 1px solid #e5e5e5;
  height: 128px;
  padding-right: 30px;
  padding-left: 30px;
  align-items: center;


}

.menu {
  display: flex;
  align-items: flex-start;
}

.menu button{
  border: none;
  background: none;
}
.menu img{
  height: 42px;
}
.stock-list{
  padding: 0;

}

.stock-list li{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  height: 114px;
  padding-right: 30px;
  padding-left: 30px;
  align-items: center;
}

.upDown button:disabled{
  color:rgba(171, 171, 171, 0.2);
}

.stock-name{
  font-size: 33px;
  font-weight: 300;
  color: #59737c;
}
.stock-data{
  height: 35px;
  font-size: 30px;
  color: #59737c;
}
.stock-info{
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}
.stock-info button{
  background: none;
  border: none;
  border-radius: 5px;
  width: 115px;
  height: 56px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.stock-info .red{
  background-color: #ff4f46;
}

.stock-info .green{
  background-color: #63da39;
}

.upDown{
  display: flex;
  flex-direction: column;
}
.upDown button{
  width: 40px;
  height: 23px;
  border: none;
  color: #ababab;
  font-size: 133%;
}

.down{
  transform: rotate(180deg);
}
